@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.pageHeader {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 7px;
    flex-wrap: wrap;
    box-shadow: #959da51f 0px 8px 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headerButtons {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-self: flex-end;
}
.invoiceContainer {
    background-color: white;
    width: 100%;
    max-width: 1200px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-inline: 25px;
    padding-bottom: 20px;
    margin-inline: auto;
}
.invoiceContainer input {
    border: 1px solid #dadada !important;
}
.pageHeader > div{
    flex: 1;
}
.pageHeader > div:last-child{
    flex: 1;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 7px;
    justify-content: flex-end;
}
@media screen and (max-width: 1300px) {
    .pageHeader > div:last-child{
        flex: 2;
    }
}
@media screen and (max-width: 995px) {
    .pageHeader {
        flex-direction: column;
    }
    .pageHeader > div {
        flex: 1;
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .pageHeader > div:last-child {
        flex-direction: column;
        align-items: flex-start;
    }
}
.phases {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    position: relative;
}
.horizontalLine {
    position: absolute;
    left: 30px;
    right: 30px;
    border: 2px solid #d1d7df;
    top: 18px;
    z-index: 0;
}
.phase {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75px;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.phaseNumber {
    background-color: #d1d7df;
    padding: 20px;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
    clip-path: circle();
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: #496388;
        color: white;
    }
}
.phaseNumber1 {
    background-color: #2e405a;
    padding: 20px;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
    clip-path: circle();
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;

}
.phaseDescription {
    color: grey;
    font-size: 10px;
    text-align: center;
}

.modalContent {
    padding: 15px;
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.form {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.error {
    color: red;
    font-size: 13px;
}
.editImageContainer {
    aspect-ratio: 4/4;
    width: 100%;
    background-color: #8f9cad3f;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 80%;
    height: 80%;
    object-fit: contain;
    align-self: center;
    margin: auto;
}
.addButton {
    background-color: rgb(0, 158, 0);
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        opacity: 0.5;
    }
}
div[class~='form-control1']:hover {
    background-color: #db0000;
    color: white;
    cursor: pointer;
}

.logo {
    height: 90px;
    object-fit: contain;
    border-radius: 5px;
    margin-right: auto;
    
}
.imageContainer {
    height: 90px;
    width: 90px;
    background-color: #8f9cad3f;
    clip-path: circle();
}
.companyTitle {
    font-size: 20px;
    font-weight: 800;
    color: #2e405a;
    margin-bottom: 10px;


}
.divider, .pdfDivider {
    width: 100%;
    height: 1px;
    background-color: #e3e7ec;
    margin: 20px 0;
}
.headerInfo {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
}
.left {
    flex: 1;
    max-width: 450px;

}
.right {
    flex: 1;
    max-width: 300px;

}
.col1 {
    flex: 1;
    min-width: 250px;
}
.col {
    flex: 1;
}
.row {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    padding-bottom: 10px; 
    
}
label {
    font-weight: 700;
    color: #2e405a;
    font-size: 12px;

}
@media screen and (max-width: 500px) {
    .row {
        flex-direction: column;
    }
    
}

.delete {
    flex: 1;
    height: 100%;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: #f50000;
        color: white;
    }
}
.edit {
    flex: 1;
    height: 100%;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
        cursor: pointer;

    &:hover {
        background-color: #94c6d1;
    }
}
td, th {
    border-inline: none;
    padding-block: .75rem;
}

.toastContainer {
    z-index: 99999 !important;

}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: -20px;
}
.minus, .plus {
    background-color: #F3F6F9;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: #496388;
        color: white;
    }
}
.totals {
    min-width: 350px;
    padding: 10px;
    background-color: #f4f5f7;
    border: 1px solid #d1d7df;
    border-radius: 3px;
}
.totalRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 0;
}
.totalRow .label {
    font-weight: 600;
    color: #2e405a;
    font-size: 13px;
}
.totalRow .value, .totalRow1 .value {
    font-weight: 600;
    color: #2e405a;
    font-size: 13px;
    text-align: right;
    flex: 1;
}
.totalRow1 .value {
    font-weight: 700;
}
.totalRow1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 0;
    border-top: 1px solid #d1d7df;
}
.totalRow1 .label1 {
    font-weight: 700;
    color: #2e405a;
    font-size: 14px;
}

.payments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}
.group {
   padding: 15px;
   border: 1px solid #d1d7dfbe;
   border-radius: 5px;
   


}
.group input, .group select {
    border: none;
}
.group label {
    display: none;
}

#pdfContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    display: none;

    justify-content: flex-start;
    padding-inline: 20px;
    padding-bottom: 10px;
    font-family: sans-serif;

}
#pdfContainer1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    display: none;

    justify-content: flex-start;
    padding-inline: 20px;
    padding-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px

}
.pdfLogo {
    margin-bottom: 5px;
}
#pdfContainer1 th, #pdfContainer1 td {
    padding-block: .75rem;
    border-top: 1.6px solid #e3e7ec;

}
#pdfContainer1 th {
    font-weight: 600;
}

#pdfContainerA3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    display: none;

    justify-content: flex-start;
    padding-inline: 20px;
    padding-bottom: 10px;

}

#pdfContainerRecibo {
    flex: 1;
    display: flex;
    flex-direction: column;
    display: none;
    
    justify-content: flex-start;
    padding-inline: 20px;
    padding-bottom: 10px;

}
#pdfContent {
    width: 100%;
    height: 100%;
}
.pdfCompanyTitle {
    font-size: 17px;
    font-weight: 800;
    color: #2e405a;
}

.pdfHeaderRow .label {
    font-weight: 800;
    color: #2e405a;
}
.pdfHeaderRow {
    font-size: 14px;
}

.qrContainer {
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    width: 220px;
    height: 220px;
    transform: translateY(-80px);
}
.qrContainer img {
    
}